# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
sam =  9
print (sam)

9

##### Assinging float

In [371]:
y = 2.5
print(y)
print(type(y))

2.5
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 2
num2 = 4.5

res =  num1 + num2
print(res)

res += 2
res +2
print(res)

6.5
8.5

##### Subtraction

In [373]:
# dif = num2 - num1
# print(dif)

##### Multiplication

##### Division

In [374]:
# quo = 9/3
# print(quo)
# #shorthand
# # quo = quo/10
# quo /= 10
# print(quo)

##### Floor Division

In [375]:
# # round down
# floor =9.2//3
# print(floor)
# #shorhand 
# floor//=2
# print(floor)

##### Modulo

In [376]:
mod = 11 % 3
print(mod)

# shorhand
#mod = mod % num
mod %=2
print(mod)

2
0

##### Exponential

In [377]:
square = 5 ** 2
print(square)
#shorthand 
square **= 5
print(square)

25
9765625

### String Input-Output

##### String Assignment

In [378]:
name = "sam"
print(name)
print(type(name))

sam
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

In [379]:
first = "sam"
last = "malwal"
full = first + last
print(full)
#string are immutable (cant change them)
#to make space use ''
#ex.
full = first + ' ' + last
print(full)
print (first)
print(last)

sammalwal
sam malwal
sam
malwal

##### Type Conversion

In [380]:
num = '32'
print(num)
print(type(num))

num + str(1)
#here you are adding the number to the string

32
<class 'str'>

'321'

##### input()

In [381]:
#input will always return a string.
#input()
#it stores what was typed in 
# name = input ('what is your name?')
# age + input('what is your?')
# print('You will be'), age +1, 'on your birthday!'

##### format()

In [382]:
# f-strings
# sentence = f'My name is {name} and I am {age} years old'
# print(sentence)

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [383]:
# color = input (' what color car do you drive?')
# year = input ('what year is it?')
# make = input ('what make is yoiur vehicle?')
# model = input ('how about the model?')

# print('here is your vehicle info')

### If Statements

In [384]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
# num1 = 10
# num2 = 6
# if num1> num2:
#     print ('num1 is Bigger')

##### 'is' keyword

In [385]:
# use the "IS" keyword when checking for same/similar objects, not same vlue

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [386]:
# favorite=input("what is your favorite food?")
# if 'p' in favorite: 
# print("true")

## Using 'and'/'or' with If Statements

In [387]:
name = 'sam'
if 'a' and 'm' in name:
    print('yes')

yes

### Elif Statements

### Else Statements

In [388]:
# see above

### For Loops

In [389]:
#synta
# FOR VARIABLE IN iTERABLE:
name = 'sam'
print(len(name))

#looping through each item
for letter in name:
    # print(letter)
    if letter == 's':
        print("found s!!")

for index in range(len(name)):
    print(index, name[index])
    #bracket notation to get corresponding item in that index

3
found s!!
0 s
1 a
2 m

##### Using 'in' keyword

In [390]:
# see above

##### Continue Statement

In [391]:
# will continue to next iteration

In [392]:
for num in range(10):
    if num == 5:
        continue
    print(num)
print('done')

0
1
2
3
4
6
7
8
9
done

##### Break Statement

In [393]:
# will break out of current loop

In [394]:
for num in range(10):
    if num == 5:
        break
    print(num)
print('done')

0
1
2
3
4
done

##### Pass Statement

In [395]:
# mostly used as a placeholder, and will continue on same iteration

In [396]:
for num in range(10):
    if num == 5:
        pass
    print(num)
print('done')

0
1
2
3
4
5
6
7
8
9
done

##### Double For Loops

In [397]:
for i in range(3):
    for j in range(2):
        print(f'i is {i}, j is {j}')

i is 0, j is 0
i is 0, j is 1
i is 1, j is 0
i is 1, j is 1
i is 2, j is 0
i is 2, j is 1

### While Loops

In [398]:
#syntax
#while CONDITION (is true):
num = 0
while num < 10:
    print(num)
    num += 1
print('done')

0
1
2
3
4
5
6
7
8
9
done

##### Looping 'While True'

In [399]:
# while True:
    # num = input('Guess a number betwen 1 and 100')
    # print(f 'Your guess is {num}')
    # if num == '3':
    #     print('CORRECT!:]')
    #     break
    # print('Incorrect. please try again')

##### While & For Loops Used Together

In [1]:
# num = 0 
# while num < 5:
#     print(f'While Loop Iteration: {num}')

### Built-In Functions

##### range()

In [ ]:
#start, stop, step
for i in range(10):
    print(i)

##### len()

In [ ]:
#checks the Length of variable

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
cubes = []
for value in range(1,11):
    cube = value**3
    cubes.append(cube)

print(cubes)

cubes = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
for number in cubes:
    print(number)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for i in range(101):
    print(i)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("What is your age? "))
if age < 18:
    print("You are a kid!")
elif age >= 18 and age == 65:
    print("You are an adult!")
else:
    print("You are a senior!")